<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728247845817-1fj07heft9pt2q3ua2i7iaav46lo7n2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728247845817-1fj07heft9pt2q3ua2i7iaav46lo7n2p</string>
	<key>API_KEY</key>
	<string>AIzaSyCH9ypKr222btazaQSL8kNy3_O_v12SCGI</string>
	<key>GCM_SENDER_ID</key>
	<string>728247845817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsapp</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-4cb07</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-4cb07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728247845817:ios:8b8fe60b524eb7eb902c68</string>
</dict>
</plist>